<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.nano.main">

    <application>
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".login.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".login.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".home.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".person.PersonInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".setting.InviteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".person.PersonInfoEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".person.ModifyInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".setting.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".person.CertificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".person.VideoListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Full_Screen"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".comment.CommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/transparent_activity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".comment.CommentEditorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/transparent_activity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".person.MemberListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/transparent_activity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".message.MessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/transparent_activity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

    </application>

</manifest>